body {
    background-color: #f5f5f5;
}

.quotes-container {
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
    height: 100%;
    max-height: 500px;
    margin-top: 10%;
    font-family: 'Tektur', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-style: normal;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 0px !important;

    .quotes-container:hover {
        box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
        transform: translateY(-4px);
    }

    body {
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .text-content h2 {
        background-color: rgba(74, 111, 165, 1);
        border-radius: 15px 15px 0px 0px;
    }

    .quote-author {
        margin-left: 60%;
        color: rgba(102, 102, 102, 1);
    }

    .random-quote{
        font-weight: 200;
    }

    .btns {
        background-color: rgba(240, 242, 245, 1);
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 0px 0px 15px 15px;


        .generate-btn {
            background-color: rgba(74, 111, 165, 1);
            display: grid;
            grid-template-columns: .1fr 1fr;
            width: 50%;
            height: 60%;
            margin-left: 45%;
            margin-top: 15px;

            p {
                margin-top: -3px;
            }

            svg {
                margin-top: 1px;
            }
        }

        .copy-btn {
            background-color: rgba(224, 224, 224, 1);
            display: grid;
            grid-template-columns: .1fr 1fr;
            width: 50%;
            height: 60%;
            margin-top: 15px;


            p {
                margin-top: -3px;
                margin-left: -10px;
            }

            svg {
                margin-top: 3px;
            }
        }
    }
}

/* media quary */
@media screen and (max-width: 450px) {
    .quotes-container {
        .quote {
            display: flex;
            flex-direction: column;

            .quote-author {
                margin-left: 40%;
            }
        }

        .btns {
            display: grid;
            grid-template-columns: 1fr;
            padding: 0px 10px;
            padding-bottom: 0px !important;

            .generate-btn {
                margin-left: 0px;
                width: 100%;
                display: grid;
                grid-template-columns: 0fr .5fr;
                padding-left: 35%;
            }

            .copy-btn {
                width: 100%;
                display: grid;
                grid-template-columns: .1fr .1fr;
                padding-left: 40%;
                gap: 15px;
                margin-top: 0px;
                height: 70%;
            }
        }
    }

}

@media screen and (max-width: 320px) {
    .quote-author {
        margin-left: 30% !important;
    }

    .quotes-container {

        .btns {
            .generate-btn {
                padding-left: 25% !important;
                grid-template-columns: 0fr .7fr;

                p {
                    margin-left: -10%;
                }

                svg {
                    margin-left: -20%;
                }
            }
        }

    }

}