body {
    background-color: #f5f5f5;
}

.quotes-container {
    width: 100%;
    max-width: 600px;
    min-height: 200px;
    height: auto;
    margin-inline: auto;
    margin-top: 12%;
    font-family: 'Tektur', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-style: normal;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 0px !important;

    .quotes-container:hover {
        box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
        transform: translateY(-4px);
    }

    body {
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .text-content h1 {
        background-color: rgba(74, 111, 165, 1);
        border-radius: 10px 10px 0px 0px;
        font-size: 24px;
        font-weight: 600;
    }

    .quote-author {
        margin-left: 70%;
        color: rgba(102, 102, 102, 1);
        font-size: 16px;
        margin-top: 10px;
        font-weight: bold;
    }

    .random-quote {
        font-weight: 300;
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        padding: 10px 20px;
        color: #333;
    }

    .btns {
        display: flex;
        justify-content: center;
        gap: 10px;
        background-color: #f0f2f5;
        border-top: 1px solid #eee;
        border-radius: 0px 0px 10px 10px;

        .generate-btn {
            background-color: rgba(74, 111, 165, 1);
            cursor: pointer;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            max-height: 35px;
            width: 22%;

            p {
                font-size: 13px;
            }
        }

        .copy-btn {
            background-color: rgba(224, 224, 224, 1);
            padding: 10px 15px;
            cursor: pointer;
            font-weight: bold;
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: center;
            max-height: 35px;
            /* width: 1%; */


            p {
                font-size: 13px;
            }

        }
    }
}

/* media quary */
@media screen and (max-width: 450px) {
    .quotes-container {
        .quote {
            display: flex;
            flex-direction: column;

            .quote-author {
                margin-left: 40%;
            }
        }

        .btns {
            display: grid;
            grid-template-columns: 1fr;
            padding: 0px 10px;

            .generate-btn {
                justify-content: center;
            }

            .copy-btn {
                justify-content: center;
            }
        }
    }

}

@media screen and (max-width: 320px) {
    .quote-author {
        margin-left: 30% !important;
    }

}